@{
    ViewBag.Title = "About";
}
<h2>Όμιλος Βιοεξεταστική</h2>
</br>

<div class="card border-primary mb-3">
    <div class="card-header">Γενικές Πληροφορίες</div>
    <div class="card-body">
        <h4 class="card-title">Εικονικό Εταιρικό προφίλ</h4>
        <p class="card-text">Ο εικονικός Όμιλος Βιοεξεταστική ιδρύθηκε το 2020. Σκοπό έχει να καλύψει τις ανάγκες της ομάδας μας για την δημιουργία μιας πλατφόρμας για μια ένα διαγνωστικό κέντρο στα πλαίσια του ΠΜΣ Πληροφορική</p>
        <p class="card-text">Ο όμιλος αποτελέι το πλέον σύγχρονο εικονικό διαγνωστικό κέντρο στη χώρα και στα βαλκάνια, με πλήρως και άρτια εξοπλισμένα εικονικά αναλυτικα και ιατρικά εργαστηρια.</p>
        </br>
        <hr color=" #158CBA" />
        </br>
        <h4 class="card-title">Υποδομές</h4>
        <p class="card-text">Το διαγνωστικό κέντρο μας αποτελείται απο 4 τμήματα που διαθέτουν όλο τον κατάλληλο εξοπλισμό για τη διάγνωση μιας μεγάλης σειράς παθήσεων.</p>
        <p class="card-text">Τα εργαλεία που παρέχει η Microsoft επιτρέπουν την ανάπτυξη μιας εξαιρετικα λειτουργικής εφαρμογής με χρήση των αρχών του αντικειμενοστραφούς προγραμματισμού σε όλα τα επίπεδα.</p>
        <p><a href="@Url.Action("DepartmentList", "Department")" class="btn btn-primary btn-lg">Τα τμηματα μας &raquo;</a></p>
        </br>
        <hr color=" #158CBA" />
        </br>
        <h4 class="card-title">Περιγραφη της εφαρμογής</h4>
        <p class="card-text">Η ανάπτυξη της παρούσας πλατφόρμας έγινε με σαν μια .NET MVC εφαρμογή και με τη χρήση του Entity Framework της Microsoft. Επίσης για την ανάπτυξη της βάσης δεδομένων χρησιμοπιήσαμε ενα Code First Approach.</p>
        <p class="card-text">Τα εργαλεία που παρέχει η Microsoft επιτρέπουν την αν;aπτυξη μιας εξαιρετικα λειτουργικής εφαρμογής με χρήση των αρχών του αντικειμενοστραφούς προγραμματισμού σε όλα τα επίπεδα.</p>
    </div>
</div>