
@{
    ViewBag.Title = "Breastfeeding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Θηλασμός και Κορωνοϊος</h2>
<p>


    Σύμφωνα με τα δεδομένα που υπάρχουν ως τώρα, ο ιός δεν έχει ανιχνευθεί στο μητρικό γάλα των γυναικών που νοσούν,εντούτοις δεν είναι ακόμα γνωστό για το αν οι μητέρες θετικές στον κορονοϊό μπορούν να μεταδώσουν τον ιό μέσω του μητρικού γάλακτος.
    Ο κύριος κίνδυνος για τα βρέφη που θηλάζουν είναι η στενή επαφή με τη μητέρα, όπου η μόλυνση μπορεί να γίνει μέσω σταγονιδίων των αναπνευστικών οδών, σε περίπτωση που η μητέρα είναι θετική.
    <br />
    Σύμφωνα με τον Παγκόσμιο Οργανισμό Υγείας και την UNICEF η μητέρα μπορεί να θηλάσει το παιδί της, όπου τα οφέλη του θηλασμού υπερτερούν των πιθανών κινδύνων μετάδοσης του ιού μέσω του μητρικού γάλακτος.
    <br />
    <br />
    Για τις γυναίκες που είναι θετικές στον κορονοϊό και επιθυμούν να θηλάσουν, πρέπει να λαμβάνονται προφυλάξεις για τον περιορισμό της ιογενούς λοίμωξης στο βρέφος:<br />
    <ul>
        <li>Καλό πλύσιμο των χεριών πριν ξεκινήσετε το θηλασμό και αγγίξετε το μωρό.</li>
        <li>Κάθε φορά που θηλάζετε η μάσκα προσώπου είναι απαραίτητη</li>
        <li>Αν επιθυμείτε να αντλήσετε γάλα από το μαστό χρησιμοποιώντας θήλαστρο,ακολουθήστε τις κατευθυντήριες οδηγίες καθαρισμού και αποστείρωσης των σκευών που θα χρησιμοποιηθούν μετά από κάθε χρήση</li>
        <li>Συστήνεται να δίνετε το αντλημένο γάλα στο βρέφος από ένα δεύτερο πρόσωπο το οποίο δε νοσεί,τηρώντας τις οδηγίες ατομικής υγιεινής.</li>
    </ul>
    <br />Οι γυναίκες που δεν επιθυμούν να θηλάσουν συνίσταται να λάβουν και εκείνες τις απαραίτητες προφυλάξεις καθώς επίσης θα πρέπει να τηρούνται οι κατευθυντήριες οδηγίες αποστείρωσης των μπουκαλιών/μπιμπερών.<br />
    <br />Σας συνιστούμε να ενημερώνεστε συστηματικά για τις εξελίξεις και για τα νέα δεδομένα καθώς οι οδηγίες θα αλλάζουν από μέρα σε μέρα.<br />
</p>