

@{
    ViewBag.Title = "Covid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Covid</h2>

<p>
    Η ασθένεια κορονοϊού 2019 (Coronavirus disease 2019, COVID-19),
    επίσης γνωστή ως οξεία αναπνευστική νόσος 2019-nCoV, είναι μία μολυσματική ασθένεια που προκαλείται από τον κορονοϊό SARS-CoV-2.
    Ο ιός και η ασθένεια που προκαλεί πρωτοεντοπίστηκε στην πόλη Ουχάν της Κίνας στα τέλη του 2019.<br />

    <br />Οι κορονοϊοί ή κοροναϊοί (εναλλακτική ορθογραφία: <b>κορωνοϊοί</b> "ή" <b>κορωναϊοί</b>) είναι οικογένεια  <a href="/wiki/%CE%99%CF%8C%CF%82" title="Ιός">ιών</a>.
    Έχουν πάρει το όνομά τους από τη χαρακτηριστική εμφάνισή τους στο ηλεκτρονικό μικροσκόπιο, όπου διακρίνονται εξογκώματα περιμετρικά των υλικών σωματιδίων σαν <a href="/w/index.php?title=%CE%A3%CF%84%CE%AD%CE%BC%CE%BC%CE%B1&amp;action=edit&amp;redlink=1" class="new" title="Στέμμα (δεν έχει γραφτεί ακόμα)">στέμμα</a>,
    το οποίο στα λατινικά λέγεται «κορόνα» (λατινικά: corona).
    Οι κορονοϊοί είναι ιοί με περίβλημα και φέρουν ως <a href="/wiki/%CE%93%CE%BF%CE%BD%CE%B9%CE%B4%CE%AF%CF%89%CE%BC%CE%B1" title="Γονιδίωμα">γονιδίωμα</a> ένα μονόκλωνο RNA <a href="/wiki/%CE%A4%CE%B1%CE%BE%CE%B9%CE%BD%CF%8C%CE%BC%CE%B7%CF%83%CE%B7_%CE%BA%CE%B1%CF%84%CE%AC_Baltimore#Ομάδα_IV:_Ιοί_με_μονόκλωνο_RNA_θετικής_(+)_πολικότητας" title="Ταξινόμηση κατά Baltimore">θετικής(+) πολικότητας</a>.
    Το γονιδίωμα των κορονοϊών έχει μέγεθος περίπου 26 με 32 χιλιάδες βάσεις, το μεγαλύτερο μεταξύ των ιών RNA.<br />

    <br /> Οι χαρακτηριστικές ακτίνες  αποτελούνται από <a href="/wiki/%CE%A0%CF%81%CF%89%CF%84%CE%B5%CE%90%CE%BD%CE%B7" title="Πρωτεΐνη">πρωτεΐνικά</a> πεπλομερή, τα οποία καθορίζουν τον τροπισμό του ιού.
    Για παράδειγμα, στον ιό του ΣΟΑΣ οι πρωτεΐνες S προσκολλούνται στο μετατρεπτικό ένζυμο της αγγειοτενσίνης 2.
    Άλλες πρωτεΐνες είναι οι Ε, στο έλυτρο, Μ, στη μεμβράνη, και Ν στο πυρηνικό καψίδιο.
    Το πρωτεϊνικό στέμμα των κορονοϊών, σε αντίθεση με αυτό άλλων ιών, αντέχει στις συνθήκες του γαστρεντερικού συστήματος.<br />

    <br /> Οι περισσότεροι κορονοϊοί προκαλούν στον άνθρωπο συνήθως λοιμώξεις του ανώτερου αναπνευστικού, αλλά μπορούν να προκαλέσουν και πνευμονία.
    Είναι η αιτία του 10-15% των λοιμώξεων του αναπνευστικού συστήματος.
    Ένας κορονοϊός ήταν υπεύθυνος για μια έξαρση κρουσμάτων σοβαρού οξέως αναπνευστικού συνδρόμου (ΣΟΑΣ, διεθνώς γνωστό ως SARS), η οποία άρχισε το 2002 στην Κίνα.
    Ένα άλλο είδος κορονοϊού προκάλεσε το αναπνευστικό σύνδρομο της Μέσης Ανατολής το 2012 (MERS[3]). Μέχρι το 2019 είχαν καταγραφεί 2.468 κρούσματα με 851 θανάτους (θνητότητα περίπου 34,5%). Στα τέλη του 2019, εμφανίστηκε ένας νέος κορονοϊός, o κορονοϊός της Ουχάν (γνωστός επίσημα ως SARS-CoV-2), ο οποίος προκάλεσε πανδημία.
    Οι κορονοϊοί έχουν σχετιστεί επίσης με γαστρεντερίτιδα.




</p>